{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="post-list">
  {{ range .Pages.ByPublishDate.Reverse }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    
    <!-- 날짜 표시 추가 -->
    <div class="post-date">{{ .Date.Format "2006-01-02" }}</div>
    
    <div class="post-summary">
      {{ if .Description }}
        {{ .Description }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </div>
    <a href="{{ .RelPermalink }}" class="read-more">READ MORE &gt;</a>
  </article>
  {{ end }}
</div>
{{ end }} 