<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/pipboy.css">
<link rel="preload" href="/fonts/DungGeunMo.woff2" as="font" type="font/woff2" crossorigin>
