{{ define "main" }}

<main id="main">

    <div class="ascii-art">

        _   ___  _______  _   ___                                                
        | | |   ||  _    || | |   |                                               
        | |_|   || | |   || |_|   |                                               
        |       || | |   ||       |                                               
        |___    || |_|   ||___    |                                               
            |   ||       |    |   |                                               
            |___||_______|    |___|                                               
         __    _  _______  _______    _______  _______  __   __  __    _  ______  
        |  |  | ||       ||       |  |       ||       ||  | |  ||  |  | ||      | 
        |   |_| ||   _   ||_     _|  |    ___||   _   ||  | |  ||   |_| ||  _    |
        |       ||  | |  |  |   |    |   |___ |  | |  ||  |_|  ||       || | |   |
        |  _    ||  |_|  |  |   |    |    ___||  |_|  ||       ||  _    || |_|   |
        | | |   ||       |  |   |    |   |    |       ||       || | |   ||       |
        |_|  |__||_______|  |___|    |___|    |_______||_______||_|  |__||______| 
        

    </div>

</br>


    <div>
        <p><a href="{{ .Site.BaseURL }}">Return to the page root</a>.</p>
    </div>

</main>

{{ end }}
