{{ define "main" }}

<h1 class="site-title">RYONGJIN TERMINAL</h1>

<div class="post-list">
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    
    <!-- 날짜 표시 추가 -->
    <div class="post-date">{{ .Date.Format "2006-01-02" }}</div>
    
    <div class="post-summary">
      {{ if .Description }}
        {{ .Description }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </div>
    <a href="{{ .RelPermalink }}" class="read-more">READ MORE &gt;</a>
  </article>
{{ end }}

{{ template "_internal/pagination.html" . }}
</div>


<!-- Remove Photo feature for a while  
<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

-->

{{ end }}