{{ define "main" }}
<main>
  <div class="container">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $latestPost := index $pages 0 }}
    
    <article class="post">
      <header>
        <h1 class="post-title">{{ $latestPost.Title }}</h1>
        <div class="post-meta">
          {{ $latestPost.Date.Format "2006-01-02" }}
          {{ with $latestPost.Params.tags }}
          <span class="post-tags">
            {{ range . }}
            <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </span>
          {{ end }}
        </div>
      </header>
      
      <div class="post-content">
        {{ $latestPost.Content }}
      </div>
      
      <footer class="post-footer">
        <div class="post-navigation">
          <a href="{{ "posts/" | relURL }}" class="button">모든 포스트 보기</a>
        </div>
      </footer>
    </article>

    <!-- 터미널 커서 스크립트 추가 -->
    <script type="application/javascript" src="/js/cursor.js"></script>
  
    <!-- 터미널 커서 -->
    <div class="terminal-prompt">
      <span class="prompt-symbol">_></span>
      <span class="terminal-cursor"></span>
    </div>
    
    <!-- Giscus 댓글 추가 -->
    {{ if ne .Params.comments false }}
      {{ partial "comments.html" . }}
    {{ end }}
  </div>
</main>

<!-- Remove Photo feature for a while  
<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

-->

{{ end }}